@import "../../Shared/colours.scss";

.navOuter {
  height: 80px;
  background-color: white;

  .navInner {
    height: 100%;
    display: flex;
    justify-content: space-between;

    .leftNav {
      display: flex;
      align-items: center;
    }

    .rightNav {
      display: flex;
      align-items: center;
      display: flex;
      justify-content: flex-end;

      .optionWrapper {
        display: flex;
        gap: 10px;

        .navOption {
          background-color: $light_grey;
          border-radius: 100%;
          width: 36px;
          height: 36px;
          cursor: pointer;
        }
      }
    }
  }
}
